.easycredit-section .heading {
  background: url('merchant-interface/img/ratenkauf-logo.svg') no-repeat 0 50% / 18rem auto; 
  padding-left: 20rem;
}
.easycredit-section .button-container {
  float: right;
}
