includes:
    - %rootDir%/../../bitexpert/phpstan-magento/extension.neon
parameters:
  paths:
    - %currentWorkingDirectory%
  level: 1
  reportUnmatchedIgnoredErrors: false
  #checkGenericClassInNonGenericObjectType: false
  scanDirectories:
    - %rootDir%/../../../vendor
  extdn:
    setTemplateDisallowedForBlockClasses: false
