<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <easycredit>
                <active>1</active>
                <active_in_frontend>1</active_in_frontend>
                <title>easyCredit-Ratenkauf</title>
                <model>Netzkollektiv\EasyCredit\Model\Payment</model>
                <instructions>Instruction.</instructions>
                <order_status>pending</order_status>
                <allowspecific>1</allowspecific>
                <specificcountry>DE</specificcountry>
                <payment_action>authorize_capture</payment_action>
                <marketing>
                    <widget>
                        <widget_enabled>1</widget_enabled>
                        <widget_cart_enabled>1</widget_cart_enabled>
                    </widget>
                    <express>
                        <express_enabled>1</express_enabled>
                        <express_cart_enabled>1</express_cart_enabled>
                    </express>
                    <express>
                        <express_enabled>1</express_enabled>
                        <express_cart_enabled>1</express_cart_enabled>
                    </express>
                    <modal>
                        <modal_enabled>1</modal_enabled>
                        <modal_delay></modal_delay>
                        <modal_snooze_for></modal_snooze_for>
                    </modal>
                    <card>
                        <card_enabled>1</card_enabled>
                        <card_search_enabled>1</card_search_enabled>
                    </card>
                    <flashbox>
                        <flashbox_enabled>1</flashbox_enabled>
                    </flashbox>
                    <bar>
                        <bar_enabled>1</bar_enabled>
                    </bar>
                </marketing>
                <remove_interest>1</remove_interest>
            </easycredit>
        </payment>
    </default>
</config>
