<div class="payment-method payment-method-easycredit" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="easycredit"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible(), enable: isAvailable"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()" style="background-image:url(https://www.easycredit-ratenkauf.de/download/200x43_Ratenkauf_Logo_mitSubline.png); display:inline-block; overflow:hidden; text-indent:-1000px; width:140px; height:24px; background-position-x:center; background-repeat:no-repeat; background-size:contain;">ratenkauf by easyCredit</span><br />
            <strong data-bind="i18n: 'Easy. Fair. Pay by installments.'"></strong><br />

            <div class="easycredit-error-message" data-bind="visible: !isAvailable()">
                <br>
                <span data-bind="text: errorMessage()"></span>
            </div>
        </label>
    </div>

    <div data-bind="visible: isAvailable" class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address">
            <span data-bind="i18n: 'ratenkauf by easyCredit requires the billing address to be the shipping address.'"></span>
        </div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="easycredit-agreement-container" data-bind="visible: agreement()">
            <input id="easycredit-agreement" type="checkbox" name="easycredit-agreement" data-bind="checked: isAgreementChecked" />
            <label for="easycredit-agreement">
                <span data-bind="text: agreement()"></span>
            </label>

            <br />
            &nbsp;
        </div>

        <div data-bind="visible: !isPrefixValid()">
            <label for="easycredit-customer-prefix">
                <span data-bind="i18n: 'Please select a prefix:'"></span>
            </label>
            <select id="easycredit-customer-prefix" name="easycredit-customer-prefix" data-bind="value: isPrefixSelected">
                <option disabled selected></option>
                <option value="Herr" data-bind="i18n: 'Mr.'"></option>
                <option value="Frau" data-bind="i18n: 'Ms.'"></option>
            </select>

            <br />
            &nbsp;
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="click: placeOrder, enable: (getCode() == isChecked() && isAgreementChecked() && (isPrefixSelected() || isPrefixValid()))"
                        disabled>
                    <span data-bind="i18n: 'Continue to easyCredit'"></span>
                </button>
            </div>
        </div>

    </div>
</div>
