<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="easycredit_bill_payment" type="text" sortOrder="27" showInDefault="1" showInWebsite="1" showInStore="1" translate="label"></group>
            <group id="easycredit_installment_payment" type="text" sortOrder="27" showInDefault="1" showInWebsite="1" showInStore="1" translate="label"></group>
            <group id="easycredit" type="text" sortOrder="27" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <frontend_model>Netzkollektiv\EasyCredit\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                <label><![CDATA[<easycredit-logo></easycredit-logo>]]></label>
                <comment><![CDATA[easycredit_intro_comment]]></comment>
                <fieldset_css>complex easycredit-section</fieldset_css>
                <attribute type="displayIn">recommended_solutions</attribute>
                <group id="easycredit_installment_payment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                    <label><![CDATA[Installment Payment]]></label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/easycredit_installment_payment/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Title</label>
                        <config_path>payment/easycredit_installment_payment/title</config_path>
                    </field>
                    <field id="order_status" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>New Order Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                        <config_path>payment/easycredit_installment_payment/order_status</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/easycredit_installment_payment/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/easycredit_installment_payment/specificcountry</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <config_path>payment/easycredit_installment_payment/sort_order</config_path>
                    </field>
                    <field id="remove_interest" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Remove interest after order</label>
                        <comment>
<![CDATA[If activated, easyCredit Ratenkauf interest rates will be not be included in order and order documents after order.]]></comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/easycredit_installment_payment/remove_interest</config_path>
                    </field>
                </group>
                <group id="easycredit_bill_payment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                    <label><![CDATA[Bill Payment]]></label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/easycredit_bill_payment/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Title</label>
                        <config_path>payment/easycredit_bill_payment/title</config_path>
                    </field>
                    <field id="order_status" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>New Order Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                        <config_path>payment/easycredit_bill_payment/order_status</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/easycredit_bill_payment/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/easycredit_bill_payment/specificcountry</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <config_path>payment/easycredit_bill_payment/sort_order</config_path>
                    </field>
                </group>
                <group id="credentials" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Credentials</label>
                    <comment>Please insert the Credentials you were provided by easyCredit-Ratenkauf.</comment>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <attribute type="expanded">1</attribute>
                    <field id="api_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Webshop-ID</label>
                    </field>
                    <field id="api_token" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Token</label>
                    </field>
                    <field id="api_signature" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Signature (optional)</label>
                    </field>
                    <field id="api_wizard" translate="button_label attribute" sortOrder="40" showInDefault="1" showInWebsite="1">
                        <attribute type="button_label">Verify Credentials with easyCredit</attribute>

                        <attribute type="api_key_selector">text-groups-easycredit-groups-credentials-fields-api-key-value</attribute>
                        <attribute type="api_token_selector">text-groups-easycredit-groups-credentials-fields-api-token-value</attribute>
                        <attribute type="api_signature_selector">text-groups-easycredit-groups-credentials-fields-api-signature-value</attribute>

                        <frontend_model>Netzkollektiv\EasyCredit\Block\Adminhtml\System\Config\ApiWizard</frontend_model>
                        <attribute type="shared">1</attribute>
                    </field>
                    <field id="debug_logging" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Debug Logging</label>
                        <comment>
<![CDATA[If activated, API call debug details will be logged to var/log/debug.log (error messages will always be logged)]]></comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
                <group id="marketing" translate="label comment" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Marketing</label>
                    <comment><![CDATA[easycredit_marketing_comment]]></comment>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <attribute type="expanded">1</attribute>


                    <group id="express" translate="label comment" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Express Button</label>
                        <comment><![CDATA[easycredit_express_button_comment]]></comment>
                        <field id="express_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Show express button on detail page</label>
                            <comment><![CDATA[If activated, easyCredit Ratenkauf Express Button will be shown next to product prices.]]></comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="express_cart_enabled" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Show express button in shopping cart</label>
                            <comment><![CDATA[If activated, the easyCredit Ratenkauf Express-Button will be shown at the cart page.]]></comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                    </group>

                    <group id="widget" translate="label comment" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Widget</label>
                        <comment><![CDATA[easycredit_widget_comment]]></comment>
                        <field id="widget_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Show widget at product detail page</label>
                            <comment><![CDATA[If activated, easyCredit Ratenkauf interest rates will be shown next to product prices.]]></comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="widget_listing_enabled" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Show widget in product listing</label>
                            <comment><![CDATA[If activated, easyCredit Ratenkauf interest rates will be shown at the product listing page.]]></comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="widget_cart_enabled" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Show widget in cart</label>
                            <comment><![CDATA[If activated, easyCredit Ratenkauf interest rates will be shown at the cart page.]]></comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                    </group>
                    <group id="modal" translate="label comment" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Modal</label>
                        <comment><![CDATA[easycredit_modal_comment]]></comment>
                        <field id="modal_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Activate modal</label>
                            <comment><![CDATA[Show modal automatically when visiting the online shop for the first time]]></comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="modal_delay" translate="label comment" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Delay (in seconds)</label>
                            <comment><![CDATA[Here you can specify in seconds the delay after which the modal is displayed to the customer when the page is loaded (for example "10" for 10 seconds delay).]]></comment>
                        </field>
                        <field id="modal_snooze_for" translate="label comment" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Reactivate after (in seconds)</label>
                            <comment><![CDATA[Here you can specify in seconds the time after which the modal is displayed again to the customer (when the page is loaded) after he has actively closed the modal (for example "3600" for 1 hour).]]></comment>
                        </field>
                        <field id="modal_src" translate="label comment" type="image" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Use your own image</label>
                            <backend_model>Netzkollektiv\EasyCredit\Model\Config\Backend\Image</backend_model>
                            <base_url type="media" scope_info="1">netzkollektiv/easycredit</base_url>
                            <comment><![CDATA[Allowed file types: jpg, jpeg, png]]></comment>
                        </field>
                    </group>
                    <group id="card" translate="label comment" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Card</label>
                        <comment><![CDATA[easycredit_card_comment]]></comment>
                        <field id="card_enabled" translate="label comment" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Activate card</label>
                            <comment><![CDATA[Show card within the product list (category)]]></comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="card_search_enabled" translate="label comment" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Activate card (search)</label>
                            <comment><![CDATA[Show card within search results]]></comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="card_position" translate="label comment" type="text" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Position in product list</label>
                        </field>
                        <field id="card_src" translate="label comment" type="image" sortOrder="24" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Use your own image</label>
                            <backend_model>Netzkollektiv\EasyCredit\Model\Config\Backend\Image</backend_model>
                            <base_url type="media" scope_info="1">netzkollektiv/easycredit</base_url>
                            <comment><![CDATA[Allowed file types: jpg, jpeg, png]]></comment>
                        </field>
                    </group>
                    <group id="flashbox" translate="label comment" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Flashbox</label>
                        <comment><![CDATA[easycredit_flashbox_comment]]></comment>
                        <field id="flashbox_enabled" translate="label comment" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Activate flashbox</label>
                            <comment><![CDATA[Show flashbox at the bottom of the screen]]></comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="flashbox_src" translate="label comment" type="image" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Use your own image</label>
                            <backend_model>Netzkollektiv\EasyCredit\Model\Config\Backend\Image</backend_model>
                            <base_url type="media" scope_info="1">netzkollektiv/easycredit</base_url>
                            <comment><![CDATA[Allowed file types: jpg, jpeg, png]]></comment>
                        </field>
                    </group>
                    <group id="bar" translate="label comment" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Bar</label>
                        <comment><![CDATA[easycredit_bar_comment]]></comment>
                        <field id="bar_enabled" translate="label comment" type="select" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Activate bar</label>
                            <comment><![CDATA[Show bar at the top of the screen]]></comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                    </group>
                </group>
                <group id="clickandcollect" translate="label comment" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label><![CDATA[Click & Collect]]></label>
                    <comment><![CDATA[easycredit_clickandcollect_comment]]></comment>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                    <attribute type="expanded">1</attribute>
                    <field id="shipping_method" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Shipping Method</label>
                        <source_model>Magento\Shipping\Model\Config\Source\Allmethods</source_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
