.payment-method.payment-method-easycredit .payment-method-title .label[for="easycredit"] {
     display: inline-flex;
     flex-flow: row wrap;
     justify-content: flex-start;
}
.easycredit-review .block .columns {
    display: flex;
}
.easycredit-review .block .columns .box {
    flex-basis: 50%;
}
