.payment-method.payment-method-easycredit .payment-method-title .label {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.payment-method.payment-method-easycredit .checkout-agreements {
    display:none;
}
.easycredit-review .block .columns {
    display: flex;
}
.easycredit-review .block .columns .box {
    flex-basis: 50%;
}
.block-minicart easycredit-express-button {
    display:block;
    margin-top:10px;
}