.payment-method.payment-method-easycredit .payment-method-title .label[for="easycredit"] {
	 display: inline-flex;
	 flex-flow: row wrap;
	 justify-content: flex-start;
}
.payment-method.payment-method-easycredit .payment-method-title .label[for="easycredit"] span {
	 width: 100% !important;
	 background-position: initial !important;
	 margin-bottom: 5px;
}
.payment-method.payment-method-easycredit .payment-method-content .payment-method-billing-address {
	 margin-bottom: 20px;
}
.payment-method.payment-method-easycredit .payment-method-content div.easycredit-agreement-container {
	 display: flex;
	 margin-bottom: 20px;
}
.payment-method.payment-method-easycredit .payment-method-content label[for="easycredit-agreement"] {
	 padding-left: 10px;
	 margin-top: -2px;
}
.payment-method.payment-method-easycredit .payment-method-content .actions-toolbar {
	 margin-bottom: 10px;
	 margin-top: 9px;
}
.payment-method.payment-method-easycredit .payment-method-title div.easycredit-error-message {
	width: 100%;
}

.easycredit-review .block .columns {
	display: flex;
}
.easycredit-review .block .columns .box {
	flex-basis: 50%;
}